@import url(./reset.css);
.wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
.user-list {
  background-color: rgb(85, 79, 79);
  padding: 25px 8px 198px;
  width: 476px;
  margin: 60px auto;
}
.form-task {
  margin-bottom: 8px;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 10px;
  background-color: #fff;
  border: 1px solid #989898;
  border-radius: 6px;
}

.text {
  width: 100%;
  padding: 0 12px;
  font-size: 18px;
}

.delete-task:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.delete-task:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.add::before {
  transform: translate(-50%, -50%) rotate(0deg);
}
.add:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.todo-list__item {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #989899;
  border-radius: 6px;
  width: 100%;
  padding: 12px 10px;
}
.flex-content{
  display: flex;
}
.task-high,
.task-low {
  width: 370px;
 padding-right: 25px;
}

.add,
.delete-task {
  position: relative;
  border: 1px solid red;
  width: 19px;
  height: 19px;
  font-size: 0;
}
.add::before,
.add::after,
.delete-task::before,
.delete-task::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 1px;
  background: #998899;
}
.todo-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-view {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #998899;
  position: relative;
}
.checkbox-view::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #c4c4c4;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.checkbox:checked ~ .checkbox-view::after {
  display: block;
}

.todo-list__item:has(.checkbox:checked) {
  background-color: #99889257;
}
.priority-high {
  margin-bottom: 12px;
}
.title {
  text-transform: uppercase;
  margin-bottom: 12px;
  text-align: center;
}

.checkbox-label {
  padding-right: 12px;
}

